<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Approval status</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link rel="stylesheet" href="/bootstrap.min.css" media="screen"/>
</head>
<body>
	<div class="container">
      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Mail were waiting for manager approval</h1>
            <a th:href="@{/authorize}"> Managers, Click here to approve or reject mails</a>
          </div>
        </div>
      </div>
	</div>

</body>
</html>
